# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/

# Production
build/
dist/

# Environment
.env*.local
.env

# Vercel
.vercel/

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Firebase
.firebase/
firebase-debug.log

# Remotion
remotion-output/
